.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-bottom: 20px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #53555b
}

.action-tray {
  display: flex;
}

button {
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

form > div > input {
  min-width: 200px;
}

label {
  margin-right: 20px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px;
  min-width: 100px;
  font-size: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
